/* Your Code Goes Here */
/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.quick-nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: slategray;
  color: white;
  font-size: 1.6rem;
  padding: 0 5%;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 4px;
}
* {
  box-sizing: border-box;
  font-size: 62.5%;
}
.container {
  max-width: 860px;
  margin: 0 auto;
}
.container .header {
  max-width: 860px;
  height: 680px;
  margin-bottom: 50px;
}
.container .header .nav-home {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: slategray;
  color: white;
  font-size: 1.6rem;
  padding: 0 5%;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 4px;
}
.container .header .header-home {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: flex-start;
}
.container .header .header-home p {
  width: 35%;
  position: absolute;
  padding: 360px 0 0 50px;
  color: white;
  font-size: 4rem;
  font-family: 'Staatliches', cursive;
}
.container .header .header-home img {
  width: 100%;
}
.container .home-block {
  max-width: 720px;
}
.container .home-block .button-articles {
  display: flex;
  height: 500px;
  flex-wrap: wrap;
  align-content: space-between;
}
.container .home-block .button-articles .row1 {
  height: 45%;
  width: 100%;
  display: flex;
}
.container .home-block .button-articles .row1 img {
  width: 50%;
  height: 240px;
  margin-left: 8%;
}
.container .home-block .button-articles .row2 {
  height: 45%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container .home-block .button-articles .row2 img {
  width: 50%;
  height: 240px;
  margin-right: 8%;
}
.container .home-block .button-articles section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50%;
}
.container .home-block .button-articles section h2 {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 5% 0;
  width: 100%;
  font-family: "PT Sans", sans-serif;
}
.container .home-block .button-articles section p {
  margin: 2.5% 0;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
}
.container .home-block .button-articles section button {
  font-size: 0.8rem;
  border: 1px solid black;
  background-color: white;
  margin: 2.5% 0;
  width: 40%;
  height: 10%;
}
.container .home-block .projects-header {
  margin: 10% 0 5% 0;
  font-weight: bold;
  font-size: 1.6rem;
  font-family: "Ubuntu", sans-serif;
}
.container .home-block .projects {
  display: flex;
  flex-wrap: wrap;
}
.container .home-block .projects .content-row {
  margin-bottom: 10%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.container .home-block .projects .content-row img {
  height: 180px;
  width: 100%;
  margin-bottom: 5%;
}
.container .home-block .projects .content-row .img-overlay {
  position: absolute;
  margin-top: 140px;
  height: 70px;
  padding: 20px 20px 0 20px;
  text-align: center;
  background-color: lightgrey;
  font-size: 2rem;
  font-family: "PT Sans", sans-serif;
  letter-spacing: 4px;
}
.container .home-block .projects .content-row p {
  align-self: center;
  padding: 0 12.5%;
  margin: 4% 0;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
}
.container .home-block .projects .content-row[data-project='2'] {
  justify-content: flex-start;
}
footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  width: 100%;
  background-color: slategray;
  height: 180px;
  padding: 5% 5% 5% 5%;
}
footer p,
footer h2 {
  color: white;
}
footer .copyright {
  letter-spacing: 2px;
  font-size: 0.7rem;
  text-align: center;
  width: 100%;
  align-self: center;
  margin-top: 10px;
  background-color: slategray;
}
footer .column-input {
  display: flex;
  width: 40%;
  flex-wrap: wrap;
}
footer .column-input h2 {
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
  width: 100%;
  font-size: 1rem;
}
footer .column-input input {
  width: 100%;
}
footer .column-input p {
  font-family: "Ubuntu", sans-serif;
  font-size: 0.7rem;
  width: 100%;
}
footer .column-info {
  width: 18%;
}
footer .column-info h2 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  width: 100%;
  font-size: 1rem;
  margin-bottom: 7px;
}
footer .column-info p {
  margin-bottom: 7px;
  font-size: 0.7rem;
  width: 100%;
}
