* {
    box-sizing: border-box;
    font-size: 62.5%;
}

.container {
    max-width: 860px;
    margin: 0 auto;
}

.expanded-nav-view {
    height: 800px;
    justify-content: center;
    align-items: center;
    display: none;
    background-color: lightseagreen;
    opacity: 0.4;
    flex-wrap: wrap;
    text-align: center;
    a {
        font-size: 4.0rem;
        line-height: 30px;
        width: 100%;
        color: white;
        font-family: "PT Sans", sans-serif;
    }
}

.hide {
    display: none;
}

.tab-link-selected {
    background-color : black;
    color: white;
}